absl-py==0.10.0
certifi==2020.6.20
chardet==3.0.4
cloudpickle==1.6.0
dask==2.25.0
decorator==4.4.2
dgl==0.5.0
fsspec==0.8.0
future==0.18.2
idna==2.10
jaxlib==0.1.52
locket==0.2.0
networkx==2.5
numpy==1.19.1
pandas==1.1.1
partd==1.1.0
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
requests==2.24.0
scipy==1.5.2
sentencepiece==0.1.91
six==1.15.0
toolz==0.10.0
torch==1.6.0
torchtext==0.7.0
tqdm==4.48.2
urllib3==1.25.10
